<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>account_book</title>
  <script src="/assets/js/Chart.min.js"></script>
</head>
<body>
  <form action="/create" method="post">
    <label for="title">商品名</label>
      <input type="text" name="title" id="title">
    <label for="price">金額</label>
      <input type="text" name="price" id="price">
      <input type="submit" value="追加">
  </form>
  
  <div>
    <% @items.each do |item| %>
      <div>
        <p><%= item.title %></p>
        <p><%= item.price %>円</p>
      </div>
    <% end %>
  </div>
  <canvas id="graph"></canvas>
  <script>
    ctx = document.getElementById("graph");
    clr = ['lightsalmon','palegreen','lightskyblue','plum','silver','pink']
    var prices = [], colors = [], labels =[];
    <% @items.each_with_index do |item,idx| %>
     prices.push(<%= item.price %>);
     labels.push('<%= item.title %>');
     colors.push(clr[<%= idx % 6 %>]);
    <% end %>
    
    var data = {
      labels: labels,
      datasets:[
        {
          data: prices,
          backgroundColor: colors
        }]
    };
    var myDoughnut = new Chart(ctx,{
      type: 'doughnut',
      data: data
    });
  </script>
  <div>
    <p>合計：<%= @total %>円</p>
  </div>
</body>
</html>
