<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>account_book</title>
</head>
<body>
  <form action="/create" method="post">
    <label for="title">商品名</label>
      <input type="text" name="title" id="title">
    <label for="price">金額</label>
      <input type="text" name="price" id="price">
      <input type="submit" value="追加">
  </form>
  
  <div>
    <% @items.each do |item| %>
      <div>
        <p><%= item.title %></p>
        <p><%= item.price %>円</p>
        <span>
          <form action="/delete/<%= item.id %>" method="post">
            <input type="submit" value="削除">
          </form>
        </span>
        <span>
          <form action="/edit/<%= item.id %>" method="post">
            <input type="submit" value="編集">
          </form>
        </span>
      </div>
    <% end %>
  </div>
  <div>
    <p>合計：<%= @total %>円</p>
  </div>
</body>
</html>
